.nav-estilos{
  width: 90%;
  margin: 1rem auto;
  padding: 2rem;
  display: flex;
  background-color: rgb(0, 100, 0);
  justify-content: space-around;
  align-items: center;
}
.NavLink-estilos{
  color: whitesmoke;
  text-decoration: none;
}
.cart-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart-number{
  color: whitesmoke;
  padding-left: 0.5rem;
  font-size: small;
}
.greeting-h1{
  color: whitesmoke;
  padding: 2rem;
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  justify-items: center;
  width: 50%;
  background-color: rgb(0, 100, 0);
  border-radius: 10px;
}
.div-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.div-card{
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 20px;
}
.div-img{
  width: 20rem;
}
.detail-img{
  width: 35%;
}
.loader{
  width: 75%;
  justify-items: center;
}
